<?xml version="1.0" encoding="UTF-8"?>
<configuration>

 <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        SK%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg trace_id=%X{trace_id} span_id=%X{span_id} trace_flags=%X{trace_flags} %n

      </pattern>
    </encoder>
  </appender>
  
  
 <!-- <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
  <encoder >
    <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - traceId:%X{EagleEye-TraceID} - %msg%n</pattern>
</encoder>
</appender>-->
  <appender name="OpenTelemetry"
            class="io.opentelemetry.instrumentation.logback.appender.v1_0.OpenTelemetryAppender">
  </appender>

  <root level="INFO">
    <appender-ref ref="console"/>
    <appender-ref ref="OpenTelemetry"/>
  </root>

</configuration>